# Ignore the virtual environment (it's too big!)
venv/

# Ignore temporary Python files
__pycache__/
*.pyc

# Ignore local settings
.env

# Ignore models
vosk-model-*/
model/

# Ignore media files
*.mp4
*.mp3
*.wav
*.srt
*.txt

# Ignore secret API keys
config.json